* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v203_467 {
  width: 100%;
  height: 986px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v203_468 {
  width: 100%;
  height: 100px;
  background: rgba(2,118,166,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v203_469 {
  width: 204px;
  height: 54px;
  background: url("../images/v203_469.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 89px;
  overflow: hidden;
}
.v203_470 {
  width: 84px;
  color: rgba(195,202,222,1);
  position: absolute;
  top: 41px;
  left: 389px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v203_472 {
  width: 159px;
  color: rgba(195,202,222,1);
  position: absolute;
  top: 41px;
  left: 655px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v203_474 {
  width: 150px;
  color: rgba(195,202,222,1);
  position: absolute;
  top: 41px;
  left: 489px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v203_475 {
  width: 100%;
  height: 312px;
  background: rgba(195,216,222,1);
  opacity: 1;
  position: absolute;
  top: 674px;
  left: 1px;
  overflow: hidden;
}
.v203_476 {
  width: 144px;
  height: 38px;
  background: url("../images/v203_476.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 908px;
  left: 568px;
  overflow: hidden;
}
.v203_477 {
  width: 180px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 777px;
  left: 39px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v203_478 {
  width: 180px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 703px;
  left: 940px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v203_479 {
  width: 339px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 813px;
  left: 38px;
  font-family: Montserrat;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: justified;
}
.v203_480 {
  width: 339px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 813px;
  left: 946px;
  font-family: Montserrat;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: justified;
}
.v203_481 {
  width: 363px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 794px;
  left: 459px;
  font-family: Montserrat;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v203_482 {
  width: 883px;
  height: 467px;
  background: rgba(228,237,245,1);
  opacity: 1;
  position: absolute;
  top: 151px;
  left: 201px;
  overflow: hidden;
}
.v203_524 {
  width: 128px;
  height: 34px;
  background: url("../images/v203_524.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 527px;
  left: 272px;
  overflow: hidden;
}
.v203_525 {
  width: 128px;
  height: 34px;
  background: rgba(39,183,242,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v203_526 {
  width: 78px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 40px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v203_485 {
  width: 483px;
  height: 243px;
  background: url("../images/v203_485.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 151px;
  left: 54px;
  overflow: hidden;
}
.v203_486 {
  width: 135px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 164px;
  left: 10px;
  font-family: Montserrat;
  font-weight: Light;
  font-size: 10px;
  opacity: 1;
  text-align: justified;
}
.v203_487 {
  width: 473px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 141px;
  left: 10px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v203_488 {
  width: 97px;
  height: 30px;
  background: url("../images/v203_488.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 213px;
  left: 17px;
  overflow: hidden;
}
.v203_489 {
  width: 97px;
  height: 30px;
  background: rgba(249,61,2,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v203_490 {
  width: 60px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 28px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v203_491 {
  width: 131px;
  height: 135px;
  background: url("../images/v203_491.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v203_492 {
  width: 131px;
  height: 135px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v203_493 {
  width: 165px;
  height: 143px;
  background: url("../images/v203_493.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v203_494 {
  width: 131px;
  height: 135px;
  background: rgba(217,217,217,0.4000000059604645);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v203_495 {
  width: 483px;
  height: 243px;
  background: url("../images/v203_495.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 151px;
  left: 1100px;
  overflow: hidden;
}
.v203_496 {
  width: 135px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 164px;
  left: 10px;
  font-family: Montserrat;
  font-weight: Light;
  font-size: 10px;
  opacity: 1;
  text-align: justified;
}
.v203_497 {
  width: 473px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 141px;
  left: 10px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v203_498 {
  width: 97px;
  height: 30px;
  background: url("../images/v203_498.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 213px;
  left: 17px;
  overflow: hidden;
}
.v203_499 {
  width: 97px;
  height: 30px;
  background: rgba(249,61,2,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v203_500 {
  width: 60px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 28px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v203_501 {
  width: 131px;
  height: 135px;
  background: url("../images/v203_501.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v203_502 {
  width: 131px;
  height: 135px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v203_503 {
  width: 165px;
  height: 143px;
  background: url("../images/v203_503.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v203_504 {
  width: 131px;
  height: 135px;
  background: rgba(217,217,217,0.4000000059604645);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v203_511 {
  width: 367px;
  height: 36px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 235px;
  left: 272px;
  overflow: hidden;
}
.v203_513 {
  width: 367px;
  height: 36px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 282px;
  left: 272px;
  overflow: hidden;
}
.v203_514 {
  width: 367px;
  height: 36px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 329px;
  left: 272px;
  overflow: hidden;
}
.v203_515 {
  width: 668px;
  height: 123px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 376px;
  left: 272px;
  overflow: hidden;
}
.v203_516 {
  width: 180px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 185px;
  left: 272px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v203_517 {
  width: 253px;
  color: rgba(195,202,222,1);
  position: absolute;
  top: 244px;
  left: 284px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v203_518 {
  width: 253px;
  color: rgba(195,202,222,1);
  position: absolute;
  top: 292px;
  left: 284px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v203_519 {
  width: 253px;
  color: rgba(195,202,222,1);
  position: absolute;
  top: 338px;
  left: 285px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v203_520 {
  width: 253px;
  color: rgba(195,202,222,1);
  position: absolute;
  top: 388px;
  left: 284px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
