* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v201_46 {
  width: 100%;
  height: 919px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_47 {
  width: 100%;
  height: 100px;
  background: rgba(2,118,166,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_48 {
  width: 204px;
  height: 54px;
  background: url("../images/v201_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 89px;
  overflow: hidden;
}
.v201_49 {
  width: 84px;
  color: rgba(195,202,222,1);
  position: absolute;
  top: 41px;
  left: 389px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v201_50 {
  width: 102px;
  color: rgba(195,202,222,1);
  position: absolute;
  top: 41px;
  left: 998px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v201_51 {
  width: 159px;
  color: rgba(195,202,222,1);
  position: absolute;
  top: 41px;
  left: 655px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v201_53 {
  width: 150px;
  color: rgba(239,233,37,1);
  position: absolute;
  top: 41px;
  left: 489px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v201_54 {
  width: 100%;
  height: 312px;
  background: rgba(195,216,222,1);
  opacity: 1;
  position: absolute;
  top: 607px;
  left: 0px;
  overflow: hidden;
}
.v201_55 {
  width: 144px;
  height: 38px;
  background: url("../images/v201_55.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 841px;
  left: 568px;
  overflow: hidden;
}
.v201_56 {
  width: 180px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 710px;
  left: 39px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v201_57 {
  width: 180px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 712px;
  left: 940px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v201_58 {
  width: 339px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 746px;
  left: 38px;
  font-family: Montserrat;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: justified;
}
.v201_59 {
  width: 339px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 746px;
  left: 946px;
  font-family: Montserrat;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: justified;
}
.v201_60 {
  width: 363px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 727px;
  left: 459px;
  font-family: Montserrat;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v201_64 {
  width: 883px;
  height: 398px;
  background: rgba(228,237,245,1);
  opacity: 1;
  position: absolute;
  top: 151px;
  left: 201px;
  overflow: hidden;
}
.v201_68 {
  width: 480px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 193px;
  left: 255px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v201_69 {
  width: 731px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 260px;
  left: 255px;
  font-family: Montserrat;
  font-weight: Light;
  font-size: 15px;
  opacity: 1;
  text-align: justified;
}
.v202_119 {
  width: 483px;
  height: 243px;
  background: url("../images/v202_119.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 151px;
  left: 54px;
  overflow: hidden;
}
.v202_103 {
  width: 135px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 164px;
  left: 10px;
  font-family: Montserrat;
  font-weight: Light;
  font-size: 10px;
  opacity: 1;
  text-align: justified;
}
.v202_102 {
  width: 473px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 141px;
  left: 10px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v202_107 {
  width: 97px;
  height: 30px;
  background: url("../images/v202_107.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 213px;
  left: 17px;
  overflow: hidden;
}
.v202_105 {
  width: 97px;
  height: 30px;
  background: rgba(249,61,2,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v202_106 {
  width: 60px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 28px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v202_117 {
  width: 131px;
  height: 135px;
  background: url("../images/v202_117.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v202_97 {
  width: 131px;
  height: 135px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v202_116 {
  width: 165px;
  height: 143px;
  background: url("../images/v202_116.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v202_118 {
  width: 131px;
  height: 135px;
  background: rgba(217,217,217,0.4000000059604645);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v202_120 {
  width: 483px;
  height: 243px;
  background: url("../images/v202_120.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 151px;
  left: 1100px;
  overflow: hidden;
}
.v202_121 {
  width: 135px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 164px;
  left: 10px;
  font-family: Montserrat;
  font-weight: Light;
  font-size: 10px;
  opacity: 1;
  text-align: justified;
}
.v202_122 {
  width: 473px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 141px;
  left: 10px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v202_123 {
  width: 97px;
  height: 30px;
  background: url("../images/v202_123.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 213px;
  left: 17px;
  overflow: hidden;
}
.v202_124 {
  width: 97px;
  height: 30px;
  background: rgba(249,61,2,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v202_125 {
  width: 60px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 28px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v202_126 {
  width: 131px;
  height: 135px;
  background: url("../images/v202_126.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v202_127 {
  width: 131px;
  height: 135px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v202_128 {
  width: 165px;
  height: 143px;
  background: url("../images/v202_128.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v202_129 {
  width: 131px;
  height: 135px;
  background: rgba(217,217,217,0.4000000059604645);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.name {
  color: #fff;
}
